src/main/resources/wsdl/delegacia/delegacia.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="delegacia.br/DLMP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="delegacia.br/DLMP"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        Integração com o MP para receber a promoção e devolver os documentos do procedimento.
    </wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="delegacia.br/DLMP">
            <s:element name="promocao">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="dadosPromocao" type="tns:promocaoTipo"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="promocaoTipo">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="numero_cnmp" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="id_procedimento" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="id_orgao" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="nome_orgao" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="prazo" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="numero_cnj" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="id_anexos" type="tns:ArrayOfString"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="promocaoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="promocaoResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="documentoProcedimento">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="idPeca" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="documentoProcedimentoResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="documentoProcedimentoResult"
                                   type="tns:documentoTipo"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="documentoTipo">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="id_procedimento" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="numero_cnj" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="ordem" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="tipo_peca" type="s:string"/> <!-- AQUI É O ID DO TIPO DA PEÇA -->
                    <s:element minOccurs="0" maxOccurs="1" name="nome_arquivo" type="s:string"/> <!-- AQUI É A DESCRIÇÃO DO TIPO DA PEÇA -->
                    <s:element minOccurs="0" maxOccurs="1" name="pdf" type="s:base64Binary"/>
                </s:sequence>
            </s:complexType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="promocaoSoapIn">
        <wsdl:part name="parameters" element="tns:promocao"/>
    </wsdl:message>
    <wsdl:message name="promocaoSoapOut">
        <wsdl:part name="parameters" element="tns:promocaoResponse"/>
    </wsdl:message>
    <wsdl:message name="documentoProcedimentoSoapIn">
        <wsdl:part name="parameters" element="tns:documentoProcedimento"/>
    </wsdl:message>
    <wsdl:message name="documentoProcedimentoSoapOut">
        <wsdl:part name="parameters" element="tns:documentoProcedimentoResponse"/>
    </wsdl:message>
    <wsdl:portType name="DLMPSoap">
        <wsdl:operation name="promocao">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Utilizado pelo MP para enviar os dados da Promoção para a PCERJ.
            </wsdl:documentation>
            <wsdl:input message="tns:promocaoSoapIn"/>
            <wsdl:output message="tns:promocaoSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="documentoProcedimento">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Utilizado pelo MP para receber os documentos associados ao envio do Procedimento.
            </wsdl:documentation>
            <wsdl:input message="tns:documentoProcedimentoSoapIn"/>
            <wsdl:output message="tns:documentoProcedimentoSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DLMPSoap" type="tns:DLMPSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="promocao">
            <soap:operation soapAction="delegacia.br/DLMP/promocao" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="documentoProcedimento">
            <soap:operation soapAction="delegacia.br/DLMP/documentoProcedimento" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DLMPSoap12" type="tns:DLMPSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="promocao">
            <soap12:operation soapAction="delegacia.br/DLMP/promocao" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="documentoProcedimento">
            <soap12:operation soapAction="delegacia.br/DLMP/documentoProcedimento" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DLMP">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            Integração com o MP para receber a promoção e devolver os documentos do procedimento.
        </wsdl:documentation>
        <wsdl:port name="DLMPSoap" binding="tns:DLMPSoap">
            <soap:address location="http://10.220.221.21:9810/dlmp.asmx"/>
        </wsdl:port>
        <wsdl:port name="DLMPSoap12" binding="tns:DLMPSoap12">
            <soap12:address location="http://10.220.221.21:9810/dlmp.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
